<form action="{{ path('shaythamc_link_management_view_all_sites') }}" method="post" {# {{ form_enctype(form) }} #}>
	
</form>

You can do the following:
<ul>
    <li><a href="{{ path('shaythamc_link_management_add_webmaster') }}">Add a Webmaster</a></li>
    <li><a href="{{ path('shaythamc_link_management_view_all_webmaster') }}">See all the Webmasters</a></li>
    <li><a href="{{ path('shaythamc_link_management_add_site') }}">Add a Site</a></li>
    <li><a href="{{ path('shaythamc_link_management_view_all_sites') }}">View all the Sites</a></li>
    <li><a href="{{ path('shaythamc_link_management_add_backlink') }}">Add a Backlinks</a></li>
    <li><a href="{{ path('shaythamc_link_management_view_all_backlinks') }}">View all the Backlinks</a></li>
    <li><a href="{{ path('shaythamc_link_management_add_budget') }}">Add a Budget</a></li>
</ul>
