<!doctype html>
<html>
<head>
    <style>
        tr, td{
            font-size: 14px;
            border: thin dotted black;
            padding: 6px;
        }

        th{
            padding: 5px;
            border: thin solid blue;
        }

        .hidden{
            display: none;
        }

        .attention{
            color:red;
            background-color: yellowgreen;
            border: thin dotted yellow;
        }
    </style>
</head>
<body>
    <form id="search">
        <input type="text" class="query">
        <button type="button" class="addQuery">add</button>
        <button type="button" id="clearQueries" class="attention">clear all</button>
        <input type="submit" id="searchButton" value="submit">
    </form>

    <table>
        <thead>
            <tr>
                <th>Affiliate</th>
                <th>Display Text</th>
                <th>URL</th>
                <th>URL Status</th>
                <th>Anchor Text</th>
                <th>Anchor Status</th>
                <th>Alive</th>
                <th>Visible</th>
                <th>Nofollow</th>
                <th>Expiration</th>
                <th>Last Checked</th>
            </tr>
        </thead>
        <tbody class="data">
            {% for backlinkProfile in backlinks %}
            <tr id="{{ backlinkProfile.backlinkId }}">
                <td class="siteUrl"><a href="{{ backlinkProfile.siteUrl }}">{{ backlinkProfile.siteName }}</a></td>
                <td class="displayTest">{{ backlinkProfile.display_text }}</td>
                <td class="url">{{ backlinkProfile.url }}</td>
                <td class="urlStatus">{{ backlinkProfile.url_status }}</td>
                <td class="anchorText">{{ backlinkProfile.anchor_text }}</td>
                <td class="anchorStatus">{{ backlinkProfile.anchor_status }}</td>
                <td class="alive">{{ backlinkProfile.alive }}</td>
                <td class="visible">{{ backlinkProfile.visible }}</td>
                <td class="nofollowStatus">{{ backlinkProfile.nofollow_status }}</td>
                <td class="expiration">{{ backlinkProfile.expiration }}</td>
                <td class="lastChecked">{{ backlinkProfile.last_checked }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% javascripts %}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>

        $(function() {

            // When user clicks the add button inside the search form
            $(".addQuery").click(function(e){

                // add a new search field
                $(".addQuery").before("<input type='text' class='query'>");

                e.preventDefault();
            });

            // When user clicks clear all inside the search form
            $("#clearQueries").click(function(e){

                // Go through all hidden elements inside the results table
                $("tr.hidden").each(function(index){

                    // ...and show them again
                    $(this).removeClass("hidden");
                });
            });


            // when the search form is submitted...
            $("#search").submit(function(e){

                // find any table rows that are hidden from a previous search
                $("tr.hidden").each(function(index){

                    // ...and show them again
                    $(this).removeClass("hidden");
                });

                // Save all search queries in a variable
                var $queryArray = $(".query");

                // Save all table rows as an array
                var $trArray = $("tbody > tr");

                // Go through every table row
                $trArray.each(function(index, tr){

                    // Go through every query
                    $.each($queryArray, function(key, query){
                        console.log($(tr).val());
                        console.log($(query).val());
                        console.log($(tr).children().is(":contains('" + $(query).val() + "')"));

                        // See if the queries match anything inside any of the table rows
                        if($(tr).children().is(":contains('" + $(query).val() + "')")){
                            console.log('does');
                            console.log($(tr).attr("id"));

                            // If so, hide the table row
                            $(tr).addClass("hidden");
                        }

                    });
                });

                e.preventDefault();
            });
        });

    </script>
    {% endjavascripts %}
</body>
</html>
