<!doctype html>
<html>
    <head>
        <style>
            tr, td{
                font-size: 14px;
                border: thin dotted black;
                padding: 6px;
            }

            th{
                padding: 5px;
                border: thin solid blue;
            }

            .hidden{

                display: none;
            }
        </style>
    </head>



<body>
    <form id="search">
        <input type="text" id="searchQuery">
        <input type="submit" id="searchButton" value="submit">
    </form>

    <table>
        <thead>
            <tr>
                <th>Affiliate</th>
                <th>Display Text</th>
                <th>URL</th>
                <th>URL Status</th>
                <th>Anchor Text</th>
                <th>Anchor Status</th>
                <th>Alive</th>
                <th>Visible</th>
                <th>Nofollow</th>
                <th>Expiration</th>
                <th>Last Checked</th>
            </tr>
        </thead>
        <tbody class="data">
            {% for backlinkProfile in backlinks %}
            <tr id="{{ backlinkProfile.backlinkId }}">
                <td class="siteUrl"><a href="{{ backlinkProfile.siteUrl }}">Visit Site</a></td>
                <td class="displayTest">{{ backlinkProfile.display_text }}</td>
                <td class="url">{{ backlinkProfile.url }}</td>
                <td class="urlStatus">{{ backlinkProfile.url_status }}</td>
                <td class="anchorText">{{ backlinkProfile.anchor_text }}</td>
                <td class="anchorStatus">{{ backlinkProfile.anchor_status }}</td>
                <td class="alive">{{ backlinkProfile.alive }}</td>
                <td class="visible">{{ backlinkProfile.visible }}</td>
                <td class="nofollowStatus">{{ backlinkProfile.nofollow_status }}</td>
                <td class="expiration">{{ backlinkProfile.expiration }}</td>
                <td class="lastChecked">{{ backlinkProfile.last_checked }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% javascripts %}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>

        $(function() {
            $("#search").submit(function(e){

                var searchQuery = $("#searchQuery").val();

                $(".hidden").each(function(index){
                    $(this).removeClass("hidden");
                });

                var $trArray = $("tbody > tr");
                $trArray.each(function(index){

                   if($(this).children().is(":contains('" + searchQuery + "')")){
                       console.log($(this).attr("id"));
                       $(this).addClass("hidden");
                   }
                });
                e.preventDefault();
            });
        });

    </script>
    {% endjavascripts %}
</body>
</html>
