  <style>
    tr, td{
    
        font-size: 14px;
        border: thin dotted black;
        padding: 6px;
        
    }
  </style>

{% javascripts %}
	<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
        
        $(function(){
            
            // slide up a table cell on click
            $("td").click(function(){
                $(this).slideUp();
            });
            
            // see if the seearch button is clicked
            $("#searchbtn").click(function(){
                
                // if it is...
                if($("#searchQuery").val() === 'iPhone Porn'){
                    
                    
            
            
            
            
            
                    alert($("#searchQuery").val());
                }
    
            });
    
        });

    </script>
{% endjavascripts %}
    
    <form>
        <input type="text" id="searchQuery">
        <input type="submit" id="searchbtn">
    </form>
    
    <table>
        <tr>
            <th>Affiliate</th>
            <th>Display Text</th>
            <th>URL</th>
            <th>URL Status</th>
            <th>Anchor Text</th>
            <th>Anchor Status</th>
            <th>Alive</th>
            <th>Visible</th>
            <th>Nofollow</th>
            <th>Expiration</th>
            <th>Last Checked</th>
        </tr>
        
        {% for backlinkProfile in backlinks %}   
        <tr>
            <td><a href="{{ backlinkProfile.siteUrl }}">Visit Site</a></td>
            <td>{{ backlinkProfile.display_text }}</td>
            <td>{{ backlinkProfile.url }}</td>
            <td class="urlStatus">{{ backlinkProfile.url_status }}</td>
            <td>{{ backlinkProfile.anchor_text }}</td>
            <td>{{ backlinkProfile.anchor_status }}</td>
            <td>{{ backlinkProfile.alive }}</td>
            <td>{{ backlinkProfile.visible }}</td>
            <td>{{ backlinkProfile.nofollow_status }}</td>
            <td>{{ backlinkProfile.expiration }}</td>
            <td>{{ backlinkProfile.last_checked }}</td>
        </tr>
        {% endfor %}
    </table>