<!doctype html>
<!doctype html>
<html>
<head>
    <style>
        tr, td{
            font-size: 14px;
            border: thin dotted black;
            padding: 6px;
        }

        th{
            padding: 5px;
            border: thin solid blue;
        }

        .hidden{
            display: none;
        }

        .attention{
            color: red;
            background-color: yellowgreen;
            border: thin solid red;
        }
    </style>
</head>
<body>
    <form id="filter">
        <select id="keyword">
        </select>

        <select id="pagerank">
        </select>

        <select id="globalrank">
        </select>

        <select id="webmaster">
        </select>
    </form>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>URL</th>
                <th>Keyword</th>
                <th>Page Found</th>
                <th>Source</th>
                <th>Notes</th>
                <th>Price</th>
                <th>Ggl PR</th>
                <th>Alx GR</th>
                <th>Date Added</th>
                <th>Wmstr</th>
                <th>Budget Id</th>
                <th>Active</th>
                <th>Modify / Remove</th>
            </tr>
        </thead>
        <tbody>
            {% for siteProfile in sites %}
            <tr>
            <form action="{{ path('shaythamc_link_management_view_all_sites') }}" method="post" {{ form_enctype(form) }}>

                <input type="hidden"  name="siteId" value="{{ siteProfile.siteId }}" />

                    <td class="siteId">{{ siteProfile.siteId }}</td>
                    <td class="title">{{ siteProfile.title }}</td>
                    <td class="url">{{ siteProfile.url }}</td>
                    <td class="keyword">{{ siteProfile.keyword }}</td>
                    <td class="pageFound">{{ siteProfile.page_found }}</td>
                    <td class="source">{{ siteProfile.source }}</td>
                    <td class="notes">{{ siteProfile.notes }}</td>
                    <td class="price">{{ siteProfile.price }}</td>
                    <td class="googlePR">{{ siteProfile.google_pr }}</td>
                    <td class="alexaGR">{{ siteProfile.alexa_gr }}</td>
                    <td class="dateAdded">{{ siteProfile.date_added }}</td>
                    <td class="webmasterId">{{ siteProfile.webmasterId }}</td>
                    <td class="budgetId">{{ siteProfile.budgetId }}</td>
                    <td class="active">{{ siteProfile.active }}</td>

                <td>
                    <input type="submit" name="_edit" value="Edit" />
                    <input type="submit" name="_delete" value="Delete" />
                </td>
            </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>

        $(function(){

            // id and class names are too similar, refactor with better
            // identifiers.

            var $keywordArray = $(".keyword");
            var $pagerankArray = $(".googlePR");
            var $globalrankArray = $(".alexaGR");

            // Must pull webmaster name, drop down should display
            // a name, not an id
            var $webmasterArray = $(".webmasterId");

            // Get an array of all the keywords inside the table
            $keywordArray.each(function(index){

                console.log($(this).text());

                // Get an array of keywords already present in the select#keyword
                var $preexistingKeywords = $("#keyword > option");

                // Compare keywords in the table against keywords in the drop down
                // so there are no duplicates

                $preexistingKeywords.each(function(index, value){



                });

                // Add unique keywords to the dropdown
                $("#keyword").append("<option>" + $(this).text() + "</option>");

            });








        });


    </script>
</body>
</html>